.business {
    width: 250px;
    padding: 15px;
    margin: 15px;
    background-color: #203575;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.image-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.business-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.business-address p, 
.business-details p {
    margin: 2px 0;
}

.rating {
    font-weight: bold;
    color: #ff9900;
}
